body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ebedf2;
    box-sizing: border-box;
}

.document__header {
    max-width: 1000px;
    margin: 30px auto 30px auto;
}

.header__nav__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
}

.btn {
    background-color: #ebedf2;
    border: 1px solid #cad1e0;
    font-size: 10px;
    font-weight: bold;
    padding: 15px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #a5abc4;
    margin: 10px;
}

.header__back {
    
}

.header__logo {
    
}

.header__sing-in {
    
}

/* ----- Start Form ------ */

#wrapper_form {
    max-width: 1050px;
    background: #ffffff;
    margin: auto;
    border: 1px solid #cad1e0;
    border-radius: 3px;
    box-sizing: border-box;
}

.order {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #cad1e0; 
    
}

.order__table {
    flex-basis: 500px;
    padding: 10px;
}

.order__btn {
    flex-basis: 200px;
    flex-direction: column;
    margin: 20px auto 20px auto;
    
}

.order__help-center {
    flex-basis: 300px;
    padding: 10px;
    border-left: 2px solid #cad1e0;
    
}