body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10pt;
  background-color: #ebedf2;
  box-sizing: border-box;
}

.document__header {
  max-width: 950px;
  margin: 30px auto 30px auto;
}

.header__nav__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.btn {
  background-color: #ebedf2;
  border: 1px solid #cad1e0;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 15px;
  width: 130px;
  text-transform: uppercase;
  color: #a5abc4;
}

.header__back {
}

.header__logo {
}

.header__sing-in {
}

/* ----------------- Start Form ----------------- */

#form__wrapper {
  max-width: 1000px;
  background: #ffffff;
  margin: auto;
  border: 1px solid #cad1e0;
  border-radius: 3px;
  color: #6e768f;
}

/* ----------------- Start Order DIV ----------------- */

.order__wrapper {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #cad1e0;
}

/* ---------- Start Order Section ---------- */

.order {
  width: 480px;
  padding-top: 10px;
  padding-left: 30px;
  margin: 0 10px 10px 0;
}

.order__table {
  width: 100%;
  padding-left: 40px;
}

.order__caption {
  background: url(../font/icon-table.png) no-repeat center left;
}

.order__header {
  text-align: left;
  padding-left: 40px;
  text-transform: uppercase;
}

.order__th {
  text-align: left;
}

.order__td {
  text-align: left;
  padding-top: 10px;
  color: #a5abc4;
}

/* ---------- End Order Section ---------- */

/* ---------- Start Buttons Section ---------- */

.order__btns {
  width: 160px;
  flex-direction: column;
  padding-top: 20px;
}

.order__btn {
  background-color: #f7f7fa;
  margin: 5px;
}

.order__btn__active,
.order__btn:active {
  background-color: #61c9c4;
  color: #fcfcfc;
}

/* ---------- End Buttons Section ---------- */

/* ---------- Start Help Section ---------- */

.order__help {
  width: 270px;
  padding-top: 10px;
  padding-left: 20px;
  border-left: 2px solid #cad1e0;
}

.help__h2 {
  position: relative;
  text-transform: uppercase;
  padding-left: 35px;
}

.icon-help {
  background: url(../font/icon-help.png) no-repeat;
  height: 25px;
  width: 25px;
  left: 0px;
  position: absolute;
}

.help__text {
  width: 270px;
  padding-left: 35px;
  line-height: 1.5;
}

.help__address {
  padding-left: 35px;
  padding-bottom: 10px;
}

.help__address a {
  color: black;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
}

.help__address a:first-child {
  margin-right: 20px;
}

/* ---------- End Help Section ---------- */

/* ----------------- End Order DIV ----------------- */



/* ----------------- Start Translate ----------------- */

.translate {
  margin: 20px;
}

.translate__h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

.translate__h2::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -10px;
  width: 44%;
  left: 28%;
  height: 1px;
  background: #cad1e0;
}

.translate__field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 0 none;
}

.translate__input {
  width: 0px;
  height: 0px;
}

.translate__img-wrapper {
  position: relative;
  border: 1px solid #cad1e0;
  border-radius: 4px;
  padding: 30px 60px;
  background-color: #f7f7fa;
  margin: 10px;
  cursor: pointer;
}

.translate__text {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  font-weight: 800;
  letter-spacing: 1px;
}

.translate__img-wrapper:hover {
  border: 1px solid #77a8e0;
  box-shadow: 0 0 10px 0 #cad1e0;
  -webkit-box-shadow: 0 0 10px 0 #cad1e0;
  -moz-box-shadow: 0 0 10px 0 #cad1e0;
}

input[type="radio"]:checked + .translate__img-wrapper {
  border: 1px solid #77a8e0;
  box-shadow: inset 0 0 3px 3px #77a8e0;
}

input[type="radio"]:checked + .translate__img-wrapper::after {
  position: absolute;
  top: -12px;
  right: -12px;
  content: '\2714';
  font-size: 20px;
  border: 1px solid #77a8e0;
  color: #ffffff;
  background: #77a8e0;
  border-radius: 50px;
  width: 24px;
  text-align: center;
}

/* ----------------- End Translate ----------------- */
